<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:text="${game.getCapture()}"></title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link th:href="@{/css/games.css}" rel="stylesheet" type="text/css">
</head>
<body>
<div class="maininfo">
    <div class="aboutgame">
          <div class="images">
            <img width="100%"  th:src=|/images/${game.getImage()}| >
          </div>
        <div class="aboutgametext">
            <div class="gamename" th:text="${game.getCapture()}">

            </div>
            <div class="description" th:text="${game.getDescription()}"> </div>
        </div>
    </div>
    <div>
        <div>Рецензия</div>
        <div th:text="${game.getReview()}"></div>
    </div>
<p>Text test e</p>
</div>
</body>
</html>